@using DocHound.Classes
@using DocHound.Interfaces
@using DocHound.Models.Docs
@model DocHound.Models.Docs.TopicViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>@Model.RepositoryTitle - @Model.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Themes/Dark/SiteIcon.png" />

    <meta name="Description" content="@Model.RepositoryTitle - @Model.Title" />
    <meta name="Keywords" content="@Model.SelectedTopic.Keywords" />
    <meta name="Author" content="@Model.Owner" />
    <meta name="Robots" content="all" />

    <meta name="og:title" content="@Model.RepositoryTitle - @Model.Title" />
    <meta name="og:type" content="article" />
    <meta name="og:description" content="@Model.RepositoryTitle - @Model.Title" />
    @*@Html.Raw(CodeHelper.GetMetaImageTag(ViewBag))*@

    <meta name="twitter:title" content="@Model.RepositoryTitle - @Model.Title" />
    <meta name="twitter:description" content="@Model.RepositoryTitle - @Model.Title" />
    @*@Html.Raw(CodeHelper.GetMetaImageTag(ViewBag, MetaNamespace.Twitter))*@

    <link rel="publisher" href="https://plus.google.com/103030867107221566748/" />

    @*This link is fine, because we are already in the master page for the current theme, so we can have a hard link to the theme CSS*@
    <link href="~/Themes/Default/Theme.css" type="text/css" rel="stylesheet" />

    @*Special links we may want to turn on and off based on settings, so we only load what is really needed*@
    <link href="~/css/fontawesome-free-5.0.3/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet" type="text/css" />
    @if (Model.GetSetting<bool>(Settings.UseSyntaxHighlighting))
    {
        <link href="~/css/highlightjs/styles/@(Model.SyntaxTheme).css" rel="stylesheet" type="text/css"/>
    }
    @if (!string.IsNullOrEmpty(Model.CustomCss))
    {
        <link href="@Model.CustomCssFullPath" rel="stylesheet" type="text/css" />
    }

    @RenderSection("Styles", false)
</head>

<body>
<nav class="mobileMenu">
    <div class="mobile-menu-items">
        @Html.Raw(CodeHelper.GetMenu(Html, Model.MainMenu, MenuMode.Mobile))
    </div>
    <input type="text" id="tree-filter-mobile" placeholder="Filter Topic Tree"/>
    @Html.Raw(TableOfContentsHelper.GetToCHtml(Model.Topics, Model.SelectedTopicName))
</nav>
    <header class="header headerLarge">
        @*<div class="mobileMenuIcon"><img src="/Images/MobileMenu.png" /></div>*@
        <i class="fas fa-bars mobileMenuIcon"></i>
        <img class="logo" src="@Model.LogoUrl" />
        <div class="menu">
            @Html.Raw(CodeHelper.GetMenu(Html, Model.MainMenu))
        </div>
    </header>

    <nav class="toc">
        <input type="text" id="tree-filter" placeholder="Filter Topic Tree"/>
        @Html.Raw(TableOfContentsHelper.GetToCHtml(Model.Topics, Model.SelectedTopicName))
    </nav>

    @RenderBody()

    <footer class="footer">
        <p>(c) by Markus Egger Inc.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    @*Special links we may want to turn on and off based on settings, so we only load what is really needed*@
    @if (Model.GetSetting<bool>(Settings.UseSyntaxHighlighting))
    {
        <script src="~/css/highlightjs/highlight.pack.js"></script>
    }
    @if (Model.GetSetting<bool>(Settings.UseDiagramsMermaid))
    {
        <script src="~/script/mermaid/mermaid.min.js"></script>
    }
    @if (Model.GetSetting<bool>(Settings.UseDiagramsNomnoml))
    {
        <script src="~/script/lodash/lodash.min.js"></script>
        <script src="~/script/dagre/dagre.min.js"></script>
        <script src="~/script/nomnoml/nomnoml.js"></script>
    }

    @*Must have file that goes with the theme*@
    <script src="~/Themes/Default/Topic.js"></script>
    @if (Model.GetSetting<bool>(Settings.UseSyntaxHighlighting))
    {
        <script src="~/script/Feature-Highlight.js"></script>
    }
    @if (Model.GetSetting<bool>(Settings.UseDiagramsMermaid))
    {
        <script src="~/script/Feature-Mermaid.js"></script>
    }
    @if (Model.GetSetting<bool>(Settings.UseDiagramsNomnoml))
    {
        <script src="~/script/Feature-Nomnoml.js"></script>
    }
    @if (Model.GetSetting<bool>(Settings.UseMathematics))
    {
        <SCRIPT SRC="~/script/jsmath/easy/load.js"></SCRIPT>
        @*<SCRIPT SRC="~/script/jsmath/plugins/noImageFonts.js"></SCRIPT>
        <SCRIPT SRC="~/script/jsmath/jsMath.js"></SCRIPT>
        <script src="~/script/Feature-jsMath.js"></script>*@
    }
</body>
</html>
