@using DocHound.Classes
@using DocHound.Interfaces
@using DocHound.Models.Docs
@model DocHound.Models.Docs.TopicViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>@Model.Title - @Model.RepositoryTitle</title>
    <link rel="shortcut icon" type="image/x-icon" href="@Model.Icon" />

    <meta name="Description" content="@Model.RepositoryTitle - @Model.Title" />
    <meta name="Keywords" content="@Model.SelectedTopic.Keywords" />
    <meta name="Author" content="@Model.Owner" />
    <meta name="Robots" content="all" />

    <meta name="og:title" content="@Model.RepositoryTitle - @Model.Title" />
    <meta name="og:type" content="article" />
    <meta name="og:description" content="@Model.RepositoryTitle - @Model.Title" />
    @*@Html.Raw(CodeHelper.GetMetaImageTag(ViewBag))*@

    <meta name="twitter:title" content="@Model.RepositoryTitle - @Model.Title" />
    <meta name="twitter:description" content="@Model.RepositoryTitle - @Model.Title" />
    @*@Html.Raw(CodeHelper.GetMetaImageTag(ViewBag, MetaNamespace.Twitter))*@

    <link rel="publisher" href="https://plus.google.com/103030867107221566748/" />

    @*Theme styles*@
    <link href="@Model.ThemeCss" type="text/css" rel="stylesheet" />
    <link href="@Model.ThemeColorsCss" type="text/css" rel="stylesheet" />

    @*Special links we may want to turn on and off based on settings, so we only load what is really needed*@
    <link href="~/css/fontawesome-free-5.0.3/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    @*Must have file that goes with the theme*@
    <script src="~/Themes/Default/Topic.js"></script>

    <nav class="mobile-menu">
        <div class="mobile-menu-items">
            @Html.Raw(Model.GetMenu(MenuMode.Mobile))
        </div>
        <input type="text" id="tree-filter-mobile" placeholder="Filter Topic Tree"/>
        @Html.Raw(Model.GetToCHtml())
    </nav>
    <header class="header headerLarge">
        <i class="fas fa-bars mobile-menu-icon"></i>
        <img class="logo" src="@Model.LogoUrl" />
        <div class="menu">
            @Html.Raw(Model.GetMenu())
        </div>
    </header>

    <nav class="toc">
        <input type="text" id="tree-filter" placeholder="Filter Topic Tree"/>
        @Html.Raw(Model.GetToCHtml())
    </nav>

    @RenderBody()
    
    <div id="load-indicator">
        <i class="fa fa-circle-notch fa-spin"></i>
    </div>

    <footer class="footer">
        <p>(c) by Markus Egger Inc.</p>
    </footer>


    @RenderSection("Scripts", false)
</body>
</html>
